h1 {
    margin-top: -40px;
    font-family: "Segoe Print";
    text-align: center;
}
form {
    text-align: center;
}
label {
    font-family: "Segoe Print";
    font-size: 20px;
}
.form-control {
    width: 80%;
    margin: auto;
}
.register-form {
    margin: auto;
    background: #dafffa;
    width: 30%;
    border-radius: 20px;
    height: fit-content
}
.register-form button {
    margin-bottom: 10px;
}
.login {
    margin-left: 18%;
}
.helptext {
    visibility: hidden;
}