body {
    background: url("../img/bg.jpg") no-repeat no-repeat center center fixed;
    background-size: cover;
}
nav:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
nav .logo {
    font-family: "Segoe Print";
    font-weight: bold;
    font-size: calc(0.6em + 1vw);
    margin-left: 30px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 10%;
}
nav {
    height: 60px;
    background: #dafffa;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}
nav a, .menu a, .menu_btn {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: "Segoe Print";
    font-size: calc(0.3em + 1vw);
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}
nav a:hover, .menu a:hover, .menu_btn:hover {
    color: #29a6db;
    text-decoration: none;
}
nav span {
    font-weight: bold;
}

.burger {
    cursor: pointer;
    position: absolute;
    margin-left: 82%;
    margin-top: -45px;
}
.brick {
    width: calc(0.5em + 1vw);
    height: 4px;
    margin-top: 6px;
    background: black;
    transition: 0.3s ease-out;
}

.open .brick:first-child {
  margin-top: 14px;
  transform: rotate(405deg);
}

.open .brick:last-child {
  margin-top: -14px;
  transform: rotate(-405deg);
}

.open .middle {
  transform: scale(0);
}

.menu {
    position: absolute;
    height: 0;
    margin-top: -10px;
    margin-left: 73%;
    background: #dafffa;
    width: fit-content;
    border-radius: 5px;
    opacity: 0;
    transition: all 400ms;
}
.menu_active {
    height: fit-content;
    opacity: 1;
}
.menu_a {
    overflow: hidden;
    width: calc(7em + 1vw);
}
.menu a {
    margin-top: 0;
    height: 0;
    transition: all 400ms;
}
.menu_active a{
    margin-top: 10px;
    height: calc(1em + 1vw);
}
.log-btn {
    width: fit-content;
    margin-left: 15%;
}
.login {
    margin-left: 30%;
    margin-bottom: 5px;
}
.user_avatar {
    position: absolute;
    margin-top: 10px;
    margin-left: calc(1em + 1vw);
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.user_info{
    margin-left: calc(1em + 0.5vw);
    text-align: center;
    width: 0;
    height: 100px;
    background: #dafffa;
    border-radius: 50px;
    visibility: hidden;
    transition: all 400ms;
}
.user_avatar:hover + .user_info, .user_info:hover{
    visibility: visible;
    width: 250px;
}
.user_info_text {
    overflow: hidden;
    padding-top: 15px;
    padding-left: 60px;
}
.logout {
    margin-top: 10px;
}