<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{title}}</title>
</head>
<body background="../static/img/lowpoly.png">
    <nav class="menubar">
        <ul class="topmenu">
            <li id="logo"><a href=""><img src="" alt="D&K"></a></li>
            <li id="my-page"><a href="">Моя страница</a></li>
            <li id="messages"><a href="">Сообщения</a></li>
            <li id="news"><a href="">Новости</a></li>
            <li id="menu-name"><a href="" class="fa fa-angle-down">Меню</a>
                <ul class="submenu">
                    <li><a href="">Сообщества</a></li>
                    <li><a href="">Друзья</a></li>
                </ul>
         </li>
        </ul>
    </nav>
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>
</body>
</html>