{% extends "main.html" %}
<title>Моя страница</title>
{% block content %}
    {% csrf_token %}
    <title>Моя страница</title>
    {% load static %}

    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
    <div class="status">
        {{ page_owner.profile.status }}
    </div>
    <table class="profile">

        <tr>
            <td>
                <div class='ava'
                     style='background-image: url("{{ page_owner.profile.avatar.url }}")'></div>
            </td>
            <td class="person-info">
                <div class="person">
                    {{ page_owner.profile.name }} {{ page_owner.profile.surname }}
                    <div class="birth-date">
                        {{ page_owner.profile.birth_date }}
                    </div>
                </div>
                <br>
                <div class="bio-border">
                    <div class="bio">
                        {{ page_owner.profile.bio }}
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                {% if user.is_authenticated %}
                    <div class="prf-btns">
                        {% if not is_friends %}
                            <img class="add-to-friends" src="{% static 'img/atf.png' %}" alt="+">
                        {% else %}
                            <img class="delete-from-friends" alt="-"
                                 src="{% static 'img/dff.png' %}">
                        {% endif %}

                        <img class="write-message" alt="Сообщение" src="{% static 'img/text.png' %}">
                    </div>
                {% endif %}
                <br>
                <div class="owner-urls">
                    <a class="owner_friends" href="#">Друзья</a><br><br>
                    <a class="owner_groups" href="#">Сообщества</a><br>
                </div>
            </td>

            <td>
                <br>
                <div class="owner_news">
                    {% for news in all_news %}
                        <div class="news">
                            <a href="/homepage/{{ news.user.id }}" class="author_url">
                                <img src="{{ news.user.profile.avatar.url }}" alt="Аватарка"
                                     class="news_avatar">
                                <span class="creator_name">{{ news.user.profile.name }} {{ news.user.profile.surname }}</span>
                            </a>

                            <br><br>
                            <div class="news_content">
                                {{ news.text_content }}<br><br>
                                <div class="images">
                                    {% for key, value in images.items %}
                                        {% if key == news %}
                                            {% for image in value %}
                                                {% for k, v in widths.items %}
                                                    {% if k == news %}
                                                        <img class="attach"
                                                             src="{{ image.file.url }}"
                                                             alt="Прикрепленное изображение"
                                                             style="width: {{ v }}%">
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="news_statistic">
                                <div class="likes">
                                    <img class="like_img {{ news.post.id }}" alt="Сердце"
                                         src="{% static 'img/unliked.png' %}">
                                    <span class="likes_counter-{{ news.post.id }}">{{ news.post.total_likes }}</span>
                                </div>
                                <div class="comments-reposts">
                                    <img class="comment-img" alt="Комментарий"
                                         src="{% static 'img/comment.png' %}">
                                    <img class="repost-img" alt="Репост"
                                         src="{% static 'img/repost.png' %}">
                                </div>
                            </div>
                        </div>
                        <br><br>
                    {% endfor %}
                </div>
            </td>
        </tr>

    </table>
{% endblock %}