{% extends "main.html" %}
{% block login %}
    <a class="login btn btn-success " href="/login/">Войти</a>
{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">

    <h1>Регистрация</h1>
    <form class="login-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>

{% endblock %}